[submodule "site-lisp/eaf"]
	path = site-lisp/eaf
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "site-lisp/shim"]
	path = site-lisp/shim
	url = https://github.com/twlz0ne/shim.el.git
